<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renai Showroom</title>
    <link rel="icon" type="image/png" href="/img/R_Logo.png">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>  
    <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="/img/R_Logo.png">
        </div>
        <a href="car-wrapper" class="menu-icon">
          <span class="fa fa-bars"></span>
        </a>
        <div class="header-right">
          <a href="#top-wrapper">Home</a>
          <a href="#car-wrapper">Kendaraan</a>
          <a href="#" class="login">Log in</a>
        </div>
      </div>
     </div>
    </header>
  <body>
    <div class="container">
     <div id="top-wrapper" class="top-wrapper">
       <h1>Renai Showroom</h1>
        <p>We Serve an Exotic Vehicle For You.</p>
        <p>Kami menawarkan kendaraan berkualitas untuk Anda.</p>
        <div class="background-image">
        </div>
      </div>
    </div>
    <div id="car-wrapper" class="car-wrapper">
        <div class="heading">
          <h2>Pilih kendaraan keinginan anda!</h2>
        </div>
        <div class="cars">
          <div class="car">
            <div class="car-icon">
              <a href="toyota">
                <img class="carlogo" src="/img/Toyota_Logo.png" alt="Toyota">
              </a>
               <p class="cartext"></p>
            </div>
             <p class="text-contents"></p>
          </div>
          <div class="car">
            <div class="car-icon">
              <a href="honda">
                <img class="carlogo" src="/img/Honda_Logo.png" alt="Honda">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
          <div class="car">
            <div class="car-icon">
              <a href="nissan">
                <img class="carlogo" src="/img/Nissan_Logo.png" alt="Nissan">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
          <div class="car">
            <div class="car-icon">
              <a href="mitsubishi">
                <img class="carlogo" src="/img/Mitsubishi_Logo.png" alt="Mitsubishi">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
           <div class="car">
            <div class="car-icon">
              <a href="mazda">
                <img class="carlogo" src="/img/Mazda_Logo.png" alt="Mazda">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
            <div class="car">
            <div class="car-icon">
              <a href="subaru">
                <img class="carlogo" src="/img/Subaru_Logo.png" alt="Subaru">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
            <div class="car">
            <div class="car-icon">
              <a href="acura">
                <img class="carlogo" src="/img/Acura_Logo.png" alt="Acura">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
            <div class="car">
            <div class="car-icon">
              <a href="lexus">
                <img class="carlogo" src="/img/Lexus_Logo.png" alt="Lexus">
              </a>
              <p class="cartext"></p>
            </div>
            <p class="text-contents"></p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Apa yang ingin anda lakukan?</h2>
          <h3>Saya Ingin</h3>
        </div>
        <a href="#car-wrapper" class="btn message"><span class="fa fa-message"></span>Mulai Order</a>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="https://prog-8.com/images/html/advanced/footer_logo.png">
        <p>Learn to code, learn to be creative.</p>
      </div>
    </footer>
  </body>
</html>